{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'jenn.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="app">
    <aside class="side">
        <img class='side--picture' src="{% static 'home_cover.jpg' %}">
        <div class='sideDescription'>
            <p class="sideDescription__text sideDescription__text--headline">Jennifer Doe</p>
            <p class="sideDescription__text">Graduate School of Business</p>
            <p class="sideDescription__text">Knight Management Center</p>
            <p class="sideDescription__text">Stanford University</p>
        </div>
    </aside>
    <header role="nav" class="header">
        <nav class="nav">
            {% for menuItem in menuItems %}
                <menu-item @click.native="currentRoute='{{ menuItem.getLink }}'" :class="{ 'nav--item--selected': currentRoute == '{{ menuItem.getLink }}' }" item="{{ menuItem }}" link="{{ menuItem.getLink }}"></menu-item>
            {% endfor %}
        </nav>
    </header>
    <main class="main">
        {% for menuItem in menuItems %}
            <page-content v-show="currentRoute == '{{ menuItem.getLink }}'">
                {{ menuItem.content | safe}}
                {% if menuItem.name == 'Publications' %}
                    <filtered-list v-show="currentRoute == '#publications'" :items="publications" :filteroptions="publicationTypes" filterkey="type" title="Publications"></filtered-list>
                {% elif menuItem.name == 'Teaching'  %}
                    <teaching :courses="teachingClasses"></teaching>
                {% elif menuItem.name == 'About Me' %}
                    <positions :items="positions"></positions>
                    <education :items="education"></education>
                    <awards :items="awards"></awards>
                {% endif %}
            </page-content>
        {% endfor %}

    </main>
    <footer class="footer">
        <a href="#" class="footer--item"><i class="fa fa-twitter"></i></a>
        <a href="#" class="footer--item"><i class="fa fa-facebook"></i></a>
        <a href="#" class="footer--item"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="footer--item"><i class="fa fa-envelope"></i></a>
    </footer>
</div>
<script type="text/javascript" src="{% static 'vue.js' %}"></script>
<script type="text/javascript" src="{% static 'jenn.js' %}"></script>
<script type="text/javascript">
    let publication, teachingClass;

    {% for publication in publications %}
        publication = {
            name: "{{ publication }}",
            type: "{{ publication.type }}",
            abstract: "{{ publication.abstract }}",
            authors: "{{ publication.authors }}"
        };

        app.publications.push(publication);
    {% endfor %}

    {% for type in types %}
        app.publicationTypes.push('{{ type }}');
    {% endfor %}

    {% for award in awards %}
        award = {
            yearStart: "{{ award.yearStart }}",
            title: "{{ award.title }}",
            yearEnd: "{{ award.yearEnd }}",
            name: "{{ award.name }}",
            description: "{{ award.description }}",
        };
        app.awards.push(award);
    {% endfor %}

    {% for teaching in teachings %}
        teachingClass = {
            yearStart: "{{ teaching.yearStart }}",
            yearEnd: "{{ teaching.yearEnd }}",
            name: "{{ teaching.name }}",
            description: "{{ teaching.description }}",
            active: "{{ teaching.isActive }}" === "True"
        };
        app.teachingClasses.push(teachingClass);
    {% endfor %}

    {% for education in educations %}
        education = {
            title: "{{ education.title }}",
            graduationYear: "{{ education.graduationYear }}",
            name: "{{ education.name }}",
            university: "{{ education.university }}"
        };
        app.education.push(education);
    {% endfor %}

  {% for position in positions %}
        position = {
            yearStart: "{{ position.yearStart }}",
            yearEnd: "{{ position.yearEnd }}",
            name: "{{ position.name }}",
            university: "{{ position.university }}",
            faculty: "{{ position.faculty }}",
        };
        app.positions.push(position);
    {% endfor %}

</script>
</body>
</html>