body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

.app {
    height: 100%;
}

.header {
    margin-left: 30%;
    margin-top: 3rem;
}

.main {
    margin-left: 30%;
    padding-bottom: 3rem;
}

.footer {
    clear: both;
    background: #2a2a2a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    vertical-align: middle;
}

.footer--item {
    margin: auto 3em;
    color: #f7f7f7;
}

.fa {
    font-size: larger !important;
}

.footer--item:hover {
    color: #9bd3ac;
}

.section--text {
    margin: 3rem 5rem;
    line-height: 1.5;
    text-align: justify;
}

.side {
    position: fixed;
    float: left;
    margin-top: -3rem;
    width: 30%;
    height: 94%;
}

.side--picture {
    width: 100%;
    height: 100%;
}

.sideDescription {
    position: absolute;
    bottom: 0;
    color: #f7f7f7;
    background: rgba(0,0,0,0.3);
    width: 100%;
}

.sideDescription__text {
    text-align: right;
    margin-right: 1rem;
}

.sideDescription__text--headline {
    font-size: large;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 3rem;
}

.nav--item {
    cursor: pointer;
    background: #2a2a2a;
    color: #f7f7f7;
    padding: 0.5rem;
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
}

.nav--item:hover {
    background-color: #9bd3ac;
    color: #f7f7f7;
}

.nav--item--selected {
    color: #9bd3ac;
}

.filter {
    margin-top: 2rem;
}

.filter__title {
    font-size: x-large;
}

.filter__select {
    float: right;
    width: 20%;
    background-color: #fff;
}

.filter__content {
    margin-top: 1.5rem;
}

.filter__item {
    display: none;
    padding: 0 1rem;
}

.filter__item--selected {
    cursor: pointer;
    display: block;
    border: solid 1px #2a2a2a;
}

.filter__caret {
    color: #2a2a2a;
    float: right;
}

.filter__item--shown {
    cursor: pointer;
    display: block;
}

.filter__item--shown:hover {
    color: #9bd3ac;
}

.timeline {
    margin-top: 2rem;
}

.timeline__title {
    font-size: x-large;
}

.timeline__period {
    font-weight: bold;
    font-size: large;
    vertical-align: middle;
    border-right: solid 2px black;
    padding-right: 0.7rem;
    text-align: right;
    min-width: 9rem;
}

.timeline__period--passsive {
    font-weight: normal;
}

.timeline__details {
    cursor: pointer;
}

.timeline__details--hidden:after {
    content: '▾';
    margin-left: 0.5rem;
}

.timeline__details--shown:after {
    content: '▴';
    margin-left: 0.5rem;
}

.positions__name {
    padding-left: 0.7rem;
}

.positions__location, .teaching__details {
    color: rgba(0,0,0,0.4);
}

.publication {
    list-style: none;
    padding: 0.7rem 0;
    border-bottom: solid 1px rgba(0,0,0,0.4);
}

.publication__name {
    text-align: justify;
    text-justify: distribute;
}

.publication__authors {
    color: rgba(0,0,0,0.4);
}

.publication__type {
    color: rgba(0,0,0,0.4);
    float: right;
}

.publication__abstract {
    margin-top: 0.5rem;
}