body {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.app {
    height: 100%;
}

.header {
    margin-left: 30%;
    margin-top: 40px;
}

.main {
    margin-left: 30%;
    padding-bottom: 30px;
}

.footer {
    clear: both;
    background: #2a2a2a;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: fixed;
    bottom: 0;
    height: 6%;
    width: 100%;
    vertical-align: middle;
}

.footer--item {
    margin: auto 50px;
    color: #f7f7f7;
}

.fa {
    font-size: 25px !important;
}

.footer--item:hover {
    color: #9bd3ac;
}

.section--text {
    margin: 50px 120px;
    line-height: 1.5;
    text-align: justify;
}

.side {
    position: fixed;
    float: left;
    margin-top: -40px;
    width: 30%;
    height: 94%;
}

.side--picture {
    width: 100%;
    height: 100%;
}

.sideDescription {
    position: absolute;
    bottom: 0;
    color: #f7f7f7;
    background: rgba(0,0,0,0.3);
    width: 100%;
}

.sideDescription__text {
    text-align: right;
    margin-right: 20px;
}

.sideDescription__text--headline {
    font-size: 20px;
    font-weight: bold;
}

.nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    line-height: 50px;
}

.nav--item {
    cursor: pointer;
    background: #2a2a2a;
    color: #f7f7f7;
    padding: 10px;
    flex: 1;
    text-align: center;
    font-size: 1.2em;
    text-decoration: none;
}

.nav--item:hover {
    background-color: #9bd3ac;
    color: #f7f7f7;
}

.nav--item--selected {
    color: #9bd3ac;
}

.filter {
    margin-top: 50px;
}

.filter__title {
    font-size: 20px;
    font-weight: bold;
}

.filter__select {
    float: right;
}

.filter__content {
    margin-top: 20px;
}

.timeline {
    margin-top: 2em;
}

.timeline__title {
    font-size: x-large;
}

.timeline__period {
    font-weight: bold;
    font-size: large;
    vertical-align: middle;
    border-right: solid 2px black;
    padding-right: 10px;
    text-align: right;
    min-width: 130px;
}

.timeline__period--passsive {
    font-weight: normal;
}

.timeline__details {
    cursor: pointer;
}

.timeline__details--hidden:after {
    content: ' ▾';
}

.timeline__details--shown:after {
    content: ' ▴';
}

.positions__name {
    padding-left: 10px;
}

.positions__location, .teaching__details {
    color: rgba(0,0,0,0.4);
}